
#container{
	width: 500px;
	height: 500px;
	margin: auto;
	font-size: 0px;
	outline: 1px solid black;
}
.square{
	
	display: inline-block;
	width: 6%;
	height: 6%;
	
	
}
.squarePass{
	
	display: inline-block;
	width: 6%;
	height: 6%;
	
	
}